<script language="javascript">
$(document).ready(function(){
  $("#messager_select").bind('change', function(){
    alert("here!!");  
  });
});
</script>

<%= form_for @profile, url: wizard_path, html: { class: 'form-horizontal' }, :method =>:put do |f| %>
  <legend>How would you like to be contacted?</legend >
      
      <label>Messager</label>
      <div>
      <select id="messager_select">
			  <%= options_for_select(Profile.messager_types) %>  
			</select>
			<input type="text" id="screename" placeholder="Screename"></input>
			Preferred: <input type="checkbox">
			
      </div>
  <div class="actions">
    <%= f.submit "Save and setup Social Information" %>
  </div>
<% end %>