<div class="navbar navbar-inverse" style="position: static;">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
									<span class="brand">IOU Application</span>
                  <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav">
                      <li class="active"><a href="/">Home</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">IOU<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href='#'>Create New IOU</a></li>
													<li><a href="#">Add Item To Current IOU</a></li>
                          <li><a href="#">View Active</a></li>
                          <li><a href="#">View Fulfilled</a></li>
                          <li class="divider"></li>
                          <li class="nav-header">Metrics</li>
                          <li><a href="#">Separated link</a></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                      </li>
											<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                        <ul class="dropdown-menu">
													<li class="nav-header">IOU</li>
                          <li><a href="#">IOU Breakdowns</a></li>
                          <li><a href="#">View Active</a></li>
                          <li><a href="#">View Fulfilled</a></li>

                          <li class="divider"></li>
                          <li class="nav-header">Items</li>
                          <li><a href="#">View Items By Type</a></li>
                     
													<li class="divider"></li>
                          <li class="nav-header">Transactions</li>	
													<li><a href="">View All Transactions</a></li>

                        </ul>
                      </li>
                    </ul>
                    <form class="navbar-search pull-left" action="">
                      <input type="text" class="search-query span2" placeholder="Search">
                    </form>
                    <ul class="nav pull-right">
                      <li><a href="#">Notifications</a></li>
                      <li class="divider-vertical"></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
													<li><a href='#'>View My Profile</a></li>
                          <li><a href='#'>Edit My Profile</a></li>
                          <li><a href="#">Deactivate My Account</a></li>
                          <li class="divider"></li>
                          <li><a href="/sign_out">Sign Out</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>